# Packages
node_modules/

# Log files
logs/
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Env
.env

# Dist
dist/
typings/
docs/

# Miscellaneous
.tmp/
coverage/
data/

# yarn v2

.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# lint cache
.eslintcache
.prettiercache

data.sqlite
